.divStyle{
    margin: auto;
    /*background-color: #40a9ff;*/
    width: 630px;
}

.projectName{
    width: 630px;
    margin: 10px 2px 10px 10px;

}

.projectNameValue{
    width: 300px;
    margin: auto;
}
.selectMode{
    width: 260px;
    margin: 10px 10px 10px 0px
}

.selectDoc{
    width: 260px;
    margin: 10px 10px 10px 10px
}

.listDivStyle{
    margin: auto;
    width: 620px;
    /*background-color: red;*/
}

.parent{
    left: 0; right: 0;
    margin: 10px;
    text-align: center;
}